python-telegram-bot[webhooks]==21.3
aiohttp>=3.9.0
yfinance>=0.2.40
numpy>=1.26.0
pandas>=2.2.0
scipy>=1.13.0
matplotlib>=3.9.0
mplfinance>=0.12.10b0
reportlab>=4.2.0
arabic-reshaper>=3.0.0
python-bidi>=0.4.2
#https://www.argaam.com/ar/monitors/market-analytics
